@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "TitilliumWeb-Regular";
  src: local("TitilliumWeb-Regular"),
    url("./fonts/TitilliumWeb-Regular.ttf") format("truetype");
}
body {
  background-color: black;
  font-family: "TitilliumWeb-Regular";
}